body {
	background-color: #ededed;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
img { max-width: 100%; }
.logo { min-width: 320px; }
#main-navigation ul { 
	list-style: none;
	padding: 0;
	margin: 42px 0 0 0;
	text-align: right;
}
#main-navigation ul li { display: inline-block; margin-right: 0.5em; }
#main-navigation ul li a { 
	display: inline-block;
	padding: 0.5em;
	background: #222;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
#main-navigation ul li:last-child { 
	margin-right: 0;
}
#footer { 
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}

#categories ul {
	list-style: none;
	padding: 0;
	margin: 1em 0;
}

#categories ul li {
	display: inline;
}

#categories ul li a {
	display: inline-block;
	padding: 0.4em;
	background: #222;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 0.5em;
}

.ads-wrapper {
	margin: 1em 0;
}
ul.ads {
	list-style: none;
	padding: 0;
	margin: 0;	
}

ul.ads li {
	background: #fff;
	border: 1px solid #ededed;
	margin-bottom: 2em;
	position: relative;
	-webkit-transition: all 1s;
    transition: all 1s;	
}

ul.ads li a, ul.ads li a:active, ul.ads li a:visited, ul.ads li a:focus, ul.ads li a:hover {
	text-decoration: none;
	color: #000;
	display: block;
}

ul.ads li:hover {
	background: #ededed;
}

ul.ads li img {
	padding: 1em 0;
}

ul.ads li h2 {
	font-size: 16px;
	height: 36px;
}

ul.ads li p.description {
	font-size: 12px;
	height: 80px;
}

ul.ads li p.price {
	position: absolute;
	padding: 0.2em;
	margin: 0;
	background: #111;
	color: #fff;
	bottom: -28px;
	right: 0;
	width: 100%;
	height: 28px;
	text-align: center;
}

@media (max-width: 992px) {
	#main-navigation ul {
		margin: 16px 0 0 0;
		text-align: left;
	}	
}
@media (max-width: 768px) {

}